.ft{

	bottom: 0;
	left: 0;
	right: 0;
    height: 438px;
		padding:70px 0 0px;	
		position: relative;
    background: #f3f3f3;
	overflow:hidden;
	&-grad{
		width: 267px;
		height: 12px;
		margin-left: -30px;
		background: rgb(255,138,14);
		background: -moz-linear-gradient(left,  rgba(255,138,14,1) 0%, rgba(255,30,25,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,138,14,1) 0%,rgba(255,30,25,1) 100%);
		background: linear-gradient(to right,  rgba(255,138,14,1) 0%,rgba(255,30,25,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8a0e', endColorstr='#ff1e19',GradientType=1 );

	}
	&-inner{
		
	}
	&-spacer{
		height: 438px;
		z-index:-10;
		position: relative;
	}
	&-copy{
		font-size: $fzxs;
		color:#949494;
		clear:both;
	    font-weight: 500;
	    bottom: 70px;
	    margin-left: -26px;
	    position: absolute;
	    text-transform: uppercase;
		span{
			display: inline-block;
		    transform:rotate(-90deg);
		}
	}
	&-bottom{
		&-line{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 12px;
			background-color: #e0e0e0;
		}
	}
	&-title{
		color: $cb;
		text-transform: uppercase;
		font-size: $fzxs;	
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 30px;
		font-weight: 500;
		&:after{
			content: '';
			width: 15px;
			height: 2px;
			background-color: $cl;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	&-address{
		font-style: normal;
		font-size: $fzlg;
		font-weight: 500;
	}
	&-link{
		&-line{
			padding-left: 55px;
			font-size: $fz18;
			color: #6c6c6c;
			text-decoration: none;
			position: relative;
			float: left;
			width: 198px;
			&:before, &:after{
				content: '';
				display: block;
				width: 46px;
				height: 2px;
				position: absolute;
				left: 0;
				top:50%;
				margin-top: -1px;
				background-color: #6c6c6c;
				transition:.3s all;
			    transform-origin: 0 50%;
			}
			&:after{
				background-color: #000;
				transform:scale(0);
			}
			&:hover{
				color: #000;
				&:after{
					transform:scale(1);
				}
			}
		}
	}
	&-socs{
		display: flex;
		&-item{
			width: 50px;
			height: 50px;
			background-color: $cl;
			margin-right: 1px;
			&:hover{
				background-color: #262626;
			}
			i{
				display: block;
				width: 50px;
				height: 50px;
				background-image: url(../img/socs.svg);
				background-repeat: no-repeat;
				background-position: 0 center;
				&.socs-fb{
					    background-position: 19px center;
				}
				&.socs-twitter{
					    background-position: -30px center;
				}
				&.socs-vk{
					background-position: -79px center;
				}
			}
		}
	}
	&-scroll{
		position: absolute;
		bottom:12px;
		left:0;
		right:0;
		&-top{
			width: 46px;
			height: 85px;
			position: absolute;
			bottom: 0;
			right:0;
			z-index: 2;
			background-color: $cl;
			
			transition:.3s all;
			&:after{
				content:'';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: url(../img/arrowup.png);
				background-repeat: no-repeat;
				background-position: center 11px;
				transition:.3s all;
			}
			&:before{
				content:'';
				background-color: #262626;
				transition:.3s all;
				transform:scaleY(0);
			    transform-origin: 0 100%;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			&:hover{
				&:after{
				    background-position: center -63px;
			    }
			    &:before{
			    	transform:scaleY(1);
			    }
			}
		}
	}
}
.col-3{
	width: 228px;
	float: left;
	padding-right: 30px;
}
.download{
	&-link{
		text-decoration: none;
		color:#6c6c6c;
		&-icon{
			width: 46px;
			height: 56px;
			background-color: $cl;
			float: left;
			margin-right: 10px;
			text-align: center;
			color: $cw;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 60px;
			position: relative;
			transition: .3s all;
			&:after{
				content:'';
				display: block;
				top:0;
				right: 0;
				position: absolute;
				border-top: 6px solid #f3f3f3;
				border-right: 6px solid #f3f3f3;
				border-left: 6px solid #262626;
				border-bottom: 6px solid #262626;
				transition: .3s all;
			}
			
		}
		&:hover{
			.download-link-icon{
				background-color: #262626;
				&:after{
					border-left: 6px solid #6c6c6c;
					border-bottom: 6px solid #6c6c6c;
				}
			}
		}
		&-size{
			display: block;
			font-size: $fzlg;
		}
	}

}
.show-on-map{
	display: block;
	text-decoration: none;
	font-size: $fzsm;
	color: #6c6c6c;
	margin: 10px 0;
	padding-left: 25px;
	position: relative;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 50px;
	&:before{
		content:'';
		display: block;
		border-radius: 50%;
		position: absolute;
		top:0px;
		left: 0;
		width: 10px;
		height: 10px;
		background-color: $cb;
	}
	&:after{
		content:'';
		display: block;
		height: 10px;
		left: 4px;
		top:10px;
		position: absolute;
		width: 2px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );

	}
}