/* Webfont: HeliosLight */
@font-face {
    font-family: 'Helios';
    src: url('../fonts/HeliosLight/HeliosLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HeliosLight/HeliosLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/HeliosLight/HeliosLight.woff') format('woff'), /* Modern Browsers */
         url('../fonts/HeliosLight/HeliosLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/HeliosLight/HeliosLight.svg#HeliosLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
/* Webfont: HeliosThin */
@font-face {
    font-family: 'Helios';
    src: url('../fonts/HeliosThin/HeliosThin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HeliosThin/HeliosThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/HeliosThin/HeliosThin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/HeliosThin/HeliosThin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/HeliosThin/HeliosThin.svg#HeliosThin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}
/* Webfont: PTSans-Bold */@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT Sans/PTSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PT Sans/PTSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PT Sans/PTSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PT Sans/PTSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PT Sans/PTSans-Bold.svg#PTSans-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
/* Webfont: PTSans-Regular */@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT Sans/PTSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PT Sans/PTSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PT Sans/PTSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PT Sans/PTSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PT Sans/PTSans-Regular.svg#PTSans-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}





$em: 14px;
$fz: 14;
$ff: 'PT Sans', sans-serif;
$cw: #fff;
$cl: #e22240;
$cb: #000000;
$cd: #eeeeee;
$cy: #0c4da2;
$cg: #c8c8c8;

$fzxxs: (10 / $fz) + 0em;
$fzxs: (12 / $fz) + 0em;
$fzsm: (13 / $fz) + 0em;
$fzmd: (15 / $fz) + 0em;
$fzlg: (16 / $fz) + 0em;
$fz18: (18 / $fz) + 0em;
$fz20: (20 / $fz) + 0em;
$fzh1: (25 / $fz) + 0em;
$fzh2: (20 / $fz) + 0em;
$fzxm: (22 / $fz) + 0em;
$fz24: (24 / $fz) + 0em;
$fz25: (25 / $fz) + 0em;
$fzl: (30 / $fz) + 0em;
$fz32: (32 / $fz) + 0em;
$fzxl: (42 / $fz) + 0em;
