.mobile-button{
    width: 45px;
    height: 36px;
    cursor: pointer;
    position: fixed;
    left: 15px;
    padding: 11px 10px;
    /* bottom: 0px; */
      top: 15px;
    background: $cw;
    z-index: 50;
    border-radius: 5px;
    transition: .3s all .3s;
	.icon-bar {
	    display: block;
	    width: 100%;
	    height: 2px;
	    border-radius: 1px;
	    transition: .3s top .3s, 0s opacity 0s, .3s transform .0s;
	    position: relative;
	    top: 0;
	    opacity: 1;
	    transform: rotate(0deg);
	    left: 0;
	    background:$cb;
	}
	.icon-bar+.icon-bar {
	    margin-top: 4px;
	}
	&.open{
		background: transparent;
		.icon-bar{
			transition: .3s top 0s, 0s opacity .3s, .3s transform .3s;
			background:$cb;
		}
		.icon-bar:nth-child(1){
			top: 6px;
    		transform: rotate(45deg);
		}
		.icon-bar:nth-child(2){
			opacity: 0;
		}
		.icon-bar:nth-child(3){
			top: -6px;
    		transform: rotate(135deg);
		}
	}
}
#mobile-menu{
	position: fixed;
	top:0;
	bottom:0;
	overflow:auto;
	width:270px;
	transition:.5s all;
	left:-270px;
	background: #fff;
	.mobile-menu-inner{
		position: absolute;
		top:60px;
	    bottom: 20px;
		right:0;
		left: 0;
		padding-bottom: 20px;
		overflow-x:hidden;
		overflow-y: auto;
		z-index:20;
		text-align: center;
		.top-logo{
			margin-top:0;
			margin-bottom:15px;
			float:none;
			text-align: center;
		}
		.top-tels {
			text-align: center;
		}
		.top-find{display: inline-block;}
		.top-flags{display: inline-block;
			background-color: transparent;
			line-height: 25px;
			width: auto;
			a{
				display: inline-block;
				&.active{
					color:$cl;
					text-decoration: underline;
				}
			}
		}
		.top-cart{display: inline-block;}
		.top-socs {
		    text-align: center;
		    margin-top: 15px;
		    float:none;
		    display:block;
		    margin-left:0;
		    a{
		    	font-size: $fzlg;
		    	color:$cb;
		    	display: inline-block;
		    }
		}
		.ft-tels-cont{
			color:$cw;
			font-size: $fzmd;
			margin-top: 15px;
			a{
				color:$cw;
			}
			
		}
		.top-cont{
			text-align: right;
			padding-right: 15px;
		}
	}
	form{
		input{
			border: none;
			border-bottom: 1px solid $cb;
		}
		button{
			background-color: transparent;
			border: none;
		}
	}
	ul{
		@include un-ul();
		clear:both;
		margin-top:15px;
		li{
			text-align: left;
		    padding: 10px 15px;
	        padding: 10px 15px;
		    border-left: 2px solid transparent;
		    margin-left: 10px;
		    margin-bottom: 10px;
	        letter-spacing: 2px;
		    font-weight: bold;
		    text-transform: uppercase;
		    &.active{
			    border-left: 2px solid $cl;
			    a{
			    	color:$cl;
			    }
		    }
			ul{
				display:none;
			}
			a{
				color:$cb;
				font-size: $fzlg;
			}
		}
	}
}
#mobile-menu.open{
	display: block;
	left:0;
	z-index: 20;
}
.mobile-menu-overlay{
	display:none;
	transition:0s all 0s, .3s opacity .1s;
	opacity:0;
}
.mobile-menu-overlay.open{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    opacity: .5;
    overflow: hidden;
    z-index:3;
}
body.open{
    overflow-y: hidden;
    overflow-x: visible;
}
