.services{
	&-main{
		position: relative;
		z-index:2;
		&-title{
			text-align: center;
			font-size: $fzl;
			text-transform: uppercase;
			font-weight: 300;
			margin:0;
			background-color: #f9f9f9;
			letter-spacing: 4px;
			padding: 83px 0;
			position: relative;
			&:after{
				content:'';
				position: absolute;
				width: 35px;
				height: 2px;
				background-color: $cl;
				bottom:45px;
				left:50%;
				margin-left: -17.5px;
			}
		}
		&-grid{
			display: flex;
			flex-wrap: wrap;

		}
		&-item{
			flex-basis: 50%;
			position: relative;
			&:nth-child(2n){
				.services-main-item-caption{
					align-items:flex-start;
				}
			}
			&-caption{
				position: absolute;
				z-index:2;
				left:10px;
				right:10px;
				bottom:10px;
				top:10px;
				background:rgba(0, 0, 0, .7);
				color:$cw;
				display: flex;
				align-items: flex-end;
				justify-content:flex-end;
			    flex-direction: column;
			    padding: 30px;
			    opacity:0;
			    transition: .3s all;
				.btn-link{

				}
				&:hover{
					opacity:1;
				}
				
			}
			&-title{
				text-transform: uppercase;
				font-weight: 900;
				font-size: $fz25;
				letter-spacing: 4px;
			}
		}
		&-link{
			text-align: center;
			color:$cw;
			background-color: $cf;
			padding: 10px 0;
		    padding: 34.5px 0;
		    .btn-link{
		    	font-size: $fzlg;
		    }
		}
	}
	&-carousel{
		background-color: $cf;
		padding: 45px 0;
		margin: 45px 0;
		.carousel-inner{
			margin: 0 5%;
			width:auto;
		}
		.carousel-item{
			text-align: center;	
			a{
				display: block;
			}
			img{
				display: inline-block;
			}
		}
		h2{
		    margin: 0;
		    color: #ba1f33;
		    text-transform: uppercase;
		    font-size: 1.28571em;
		    font-weight: 900;
		    letter-spacing: 3px;
		    margin-bottom: 45px;
		}
	}
	&-link{
		margin-bottom: 45px;
		font-size: $fzlg;
	}
}