@media (max-width: 770px){
.top-lang-link {
    margin-right: 18px;
}
.top-ctrl-link {
    margin-left: 20px;
}
.carousel-item-caption h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.carousel-item-caption h1 .md {
    font-size: 0.8em;margin-bottom: .5em;
}
.top-navbar-flex {
	flex-wrap:wrap;
	justify-content: space-around;
}
.top-logo{
	order:1;
	flex-basis: 50%;
	text-align: center;
	padding-right: 0;
	    margin-right: 0;
}
.top-menu-block{
	order:3;
	margin-top: 1em;
}

.top-search-block {
    margin-left: 0;
    order:2;
    flex-basis: 50%;
    text-align: right;
}
.top-bar{
    line-height: 2;
    padding: 3px 0 3px;
    vertical-align: middle;
}
}