@media (max-width: 358px){
.top-logo img {
   
   top:0;
   margin-bottom: 10px;
}
.top-menu ul li{
    padding: 10px 9px 14px;
    font-size: 1em;
}
.carousel-item-caption h1 {
    font-size: 2em;
    margin-bottom: .5em;
}
.carousel-item-caption h1 .md {
    font-size: 0.8em;
}
}